# هر بخش از tensorflow که نیاز دارید باید مشخص شود
tensorflow==2.17.1
# اگر از نسخه‌های قدیمی‌تر نیاز دارید، می‌توانید نسخه‌های خاصی مانند زیر را فعال کنید
# tensorflow-cpu==2.17.1
# tensorflow-gpu==2.17.1

umap-learn
visdom
librosa>=0.5.1
matplotlib>=2.0.2
numpy>=1.14.0
scipy>=1.0.0
tqdm
sounddevice
Unidecode
inflect
PyQt5
multiprocess
numba==0.48
